<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtOOsBw6y9w0v3UuZeVhXf86g1B5eZ3ac</string>
	<key>GCM_SENDER_ID</key>
	<string>519011700291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ambulence</string>
	<key>PROJECT_ID</key>
	<string>near-u-final</string>
	<key>STORAGE_BUCKET</key>
	<string>near-u-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519011700291:ios:5b21243401a163f33c8ef6</string>
	<key>DATABASE_URL</key>
	<string>https://near-u-final-default-rtdb.firebaseio.com</string>
</dict>
</plist>